<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  

  <div class=" sm:mx-auto sm:w-full sm:max-w-sm">



<%= form_with(model:post , builder: CustomFormBuilder )  do |form| %>
  

  <div class="space-y-6">
    <label class=" text-lg font-medium text-gray-100"><%= form.label :caption%> </label>
  	<div class="mt-2">
      <%= form.text_field :caption, autofocus: true, autocomplete: "name" , required: true%>
    </div>
  </div>



    <div class="space-y-6 mt-2">
    	<div>
  	<label class="text-lg font-medium text-gray-100"> <%= form.label :image %> </label>
  	
  	<%= form.file_field :image, required: true %>
  	</div>
  	
  </div>

  <% if post.errors.any? %>
    <div class="text-red-700">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6">
    <button  type ="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"> <%= form.submit %></button>
  </div>


  <%end %>
</div>
</div>
