<%= render 'layouts/header' %>

<%  if @posts.present? %>
<% @posts.each do |post| %>
<div  class="block w-96 mx-auto rounded-lg p-4 bg-gray-200 text-gray-900 shadow-xs shadow-indigo-100 mt-6">
	<% if post.image.attached? %>
	 <%= image_tag post.image.representation(resize_to_limit:[600,600]) ,class:"h-56 w-full rounded-md object-cover" %>	
	<% end %>

	<div class="mt-2">
		<dl>
			<div>
			 <dt class="sr-only">caption</dt>
        <dd class="text-lg text-gray-900">Caption : <%=post.caption%></dd>
			</div>


			


		<div class="mt-6 flex items-center gap-18 text-xs">
      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
       
        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-900">Likes</p>

          <p class="font-medium text-gray-900"><%= post.likes.count %></p>
        </div>
      </div>



      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-900">Comment</p>

          <p class="font-medium text-gray-900"><%= post.comments.count %></p>
        </div>
      </div>
		
       

	</div>

	
</div>
</div>



</div>

 <div class="w-96 mx-auto gap-1 mt-4 flex">
   <button type="submit" class="flex w-48 mx-auto justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"><%= link_to "Edit post", edit_post_path(post) %></button> 
  
    <button type="submit" class="flex w-48 mx-auto justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"><%= link_to "delete post", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  </div>
  <% end %>
<% else %>
<h1 class="w-72 text-2xl bg-gray-200 mt-6 text-gray-900 mx-auto">You don't post anything yet </h1>
  <%end %>


